#include "kona.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. kona v2";
	compatible = "qcom,kona";
	qcom,msm-id = <356 0x20000>;
};

&CPU4 {
	dynamic-power-coefficient = <533>;
};

&CPU5 {
	dynamic-power-coefficient = <533>;
};

&CPU6 {
	dynamic-power-coefficient = <533>;
};

&CPU7 {
	dynamic-power-coefficient = <642>;
};

&clock_camcc {
	compatible = "qcom,camcc-kona-v2", "syscon";
};
