#include "kona-qrd.dtsi"

&qupv3_se13_i2c {
	status = "ok";
	qcom,i2c-touch-active = "";

	st_fts@49 {
		st,x-flip;
		st,y-flip;
	};
};

&kona_snd {
	qcom,msm-mbhc-usbc-audio-supported = <0>;
	qcom,msm-mbhc-hphl-swh = <1>;
	qcom,msm-mbhc-gnd-swh = <1>;
};

&redriver {
	status = "disabled";
};

&dwc1 {
	dr_mode = "host";
};
