#include "kona.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. kona v2";
	compatible = "qcom,kona";
	qcom,msm-id = <356 0x20000>;
};

&CPU4 {
	dynamic-power-coefficient = <533>;
};

&CPU5 {
	dynamic-power-coefficient = <533>;
};

&CPU6 {
	dynamic-power-coefficient = <533>;
};

&CPU7 {
	dynamic-power-coefficient = <642>;
};

&clock_camcc {
	compatible = "qcom,camcc-kona-v2", "syscon";
};

&clock_videocc {
	compatible = "qcom,videocc-kona-v2", "syscon";
};

&spss_utils {
	qcom,spss-dev-firmware-name  = "spss2d";	/* 8 chars max */
	qcom,spss-test-firmware-name = "spss2t";	/* 8 chars max */
	qcom,spss-prod-firmware-name = "spss2p";	/* 8 chars max */
};

#include "kona-v2-gpu.dtsi"

&cpu0_llcc_ddr_latmon {
	qcom,cachemiss-ev = <0x1000>;
};

&cpu4_llcc_ddr_latmon {
	qcom,cachemiss-ev = <0x1000>;
};
