/dts-v1/;

#include "lito-v2.dtsi"
#include "lito-mtp.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Lito MTP";
	compatible = "qcom,lito-mtp", "qcom,lito", "qcom,mtp";
	qcom,board-id = <8 0>;
};

&lpi_tlmm {
	qcom,tx_data3_enabled = <1>;
	qcom,tx_data3_addr = <0x0355C000>;
	qcom,swr_tx_data3_val = <0x3>;
};
