#include "scuba.dtsi"
/ {
	reserved-memory {
		/delete-node/ removed_region@a0000000;

		tz_removed_region: tz_removed_region@a0000000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x0 0xa0000000 0x0 0x100000>;
		};

		pimem_removed_region: pimem_removed_region@a0e00000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x0 0xa0e00000 0x0 0x1100000>;
		};
	};
};
