make O=out ARCH=arm64 alioth_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/alioth_defconfig

make O=out ARCH=arm64 apollo_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/apollo_defconfig

make O=out ARCH=arm64 cas_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/cas_defconfig

make O=out ARCH=arm64 cmi_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/cmi_defconfig

make O=out ARCH=arm64 elish_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/elish_defconfig

make O=out ARCH=arm64 enuma_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/enuma_defconfig

make O=out ARCH=arm64 thyme_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/thyme_defconfig

make O=out ARCH=arm64 umi_defconfig
make O=out ARCH=arm64 savedefconfig
mv out/defconfig arch/arm64/configs/umi_defconfig
